body {
  background-color: black;
  position: relative;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
#tagline {
  text-align: center; 
  font-size: 60px; 
  color: rgb(10, 202, 177);
  display: block;
  margin-bottom: 5px;
}
.form--ui {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  z-index: 2;

}
.form--ui p {
  font-size: 18px;
  max-width: 850px;
}
.depart--form input {
  padding: 2px;
}
.depart--form label {
  display: inline-block;
  font-size: 20px;
  margin: 3px;
}
.submit--form {
  background-color: snow;
  padding: 10px 20px;
  border: 5%;
  margin-left: 20px;
}
@media only screen and (max-width: 670px) {
  .form--ui {
    top: 20%;
  }
  .submit--form {
    margin-top: 5px;
  }
  #tagline{
    font-size:24px; } }
    @media only screen and (max-width: 780px) {
      #tagline{
        font-size:28px; } }